@import "tailwindcss/base";
@import "./custom-base/_custom-base-styles.css";
@import "./custom-base/_custom-utilities.css";
@import "./custom-base/_custom-colors.css";

@import "tailwindcss/components";
@import "./custom-components/_buttons.css";
@import "./custom-components/_cards.css";
@import "./custom-components/_nav.css";

@import "./site/_hero.css";

@tailwind utilities;